@model RedCloud.Application.Features.AssignNumberToUser.Commands.AssignNumberToUserCommand

@{
    ViewData["Title"] = "AssignNumber_test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AssignNumber_test</h1>

<h4>AssignNumberToUserCommand</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AssignNumber_test">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumberId" class="control-label"></label>
                <input asp-for="NumberId" class="form-control" />
                <span asp-validation-for="NumberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

